<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.buaa.platform.mapper.base.authorsBaseMapper">


    <insert id="insertauthors" >
        INSERT INTO `authors`
        (
        <trim suffixOverrides=",">
                    <if test="specialID!=null">
                        `specialID`,
                    </if>
                    <if test="paperID!=null">
                        `paperID`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="specialID!=null">
                    #{specialID},
                </if>
                <if test="paperID!=null">
                    #{paperID},
                </if>
        </trim>
        )
    </insert>




    <update id="updateauthors">
        UPDATE `authors`
        SET
        <trim suffixOverrides=",">
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `specialID` = #{specialID} and
                `paperID` = #{paperID} and
        </trim>
    </update>

    <update id="update">
        UPDATE `authors`
        SET
        <trim suffixOverrides=",">
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.specialIDList != null">
                    `specialID` in
                    <foreach collection="where.specialIDList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzySpecialID!=null and where.fuzzySpecialID.size()>0">
                (
                <foreach collection="where.fuzzySpecialID"  separator="or" item="item">
                    `SpecialID` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzySpecialID!=null and where.rightFuzzySpecialID.size()>0">
                (
                <foreach collection="where.rightFuzzySpecialID"  separator="or" item="item">
                    `SpecialID` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.paperIDList != null">
                    `paperID` in
                    <foreach collection="where.paperIDList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyPaperID!=null and where.fuzzyPaperID.size()>0">
                (
                <foreach collection="where.fuzzyPaperID"  separator="or" item="item">
                    `PaperID` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyPaperID!=null and where.rightFuzzyPaperID.size()>0">
                (
                <foreach collection="where.rightFuzzyPaperID"  separator="or" item="item">
                    `PaperID` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="org.buaa.platform.entity.authors" id="authorsMap">
        <result property="specialID" column="specialID"/>
        <result property="paperID" column="paperID"/>
    </resultMap>


    <select id="queryauthors" resultMap="authorsMap">
        select
        <include refid="baseResult"></include>
        from  `authors`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="specialID != null and specialID!=''">
                `specialID` = #{specialID} and
            </if>
            <if test="paperID != null and paperID!=''">
                `paperID` = #{paperID} and
            </if>
            <if test = "(_parameter instanceof org.buaa.platform.entity.authors$QueryBuilder) == true">
                <if test="specialIDList != null">
                    `specialID` in
                    <foreach collection="specialIDList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzySpecialID!=null and fuzzySpecialID.size()>0">
                    (
                    <foreach collection="fuzzySpecialID"  separator="or" item="item">
                        `SpecialID` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySpecialID!=null and rightFuzzySpecialID.size()>0">
                    (
                    <foreach collection="rightFuzzySpecialID"  separator="or" item="item">
                        `SpecialID` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="paperIDList != null">
                    `paperID` in
                    <foreach collection="paperIDList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyPaperID!=null and fuzzyPaperID.size()>0">
                    (
                    <foreach collection="fuzzyPaperID"  separator="or" item="item">
                        `PaperID` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPaperID!=null and rightFuzzyPaperID.size()>0">
                    (
                    <foreach collection="rightFuzzyPaperID"  separator="or" item="item">
                        `PaperID` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryauthorsLimit1" resultMap="authorsMap">
        select
        <include refid="baseResult"></include>
        from  `authors`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="specialID != null and specialID!=''">
                `specialID` = #{specialID} and
            </if>
            <if test="paperID != null and paperID!=''">
                `paperID` = #{paperID} and
            </if>
            <if test = "(_parameter instanceof org.buaa.platform.entity.authors$QueryBuilder) == true">
                    <if test="specialIDList != null">
                        `specialID` in
                        <foreach collection="specialIDList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzySpecialID!=null and fuzzySpecialID.size()>0">
                    (
                    <foreach collection="fuzzySpecialID"  separator="or" item="item">
                        `SpecialID` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzySpecialID!=null and rightFuzzySpecialID.size()>0">
                    (
                    <foreach collection="rightFuzzySpecialID"  separator="or" item="item">
                        `SpecialID` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="paperIDList != null">
                        `paperID` in
                        <foreach collection="paperIDList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyPaperID!=null and fuzzyPaperID.size()>0">
                    (
                    <foreach collection="fuzzyPaperID"  separator="or" item="item">
                        `PaperID` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPaperID!=null and rightFuzzyPaperID.size()>0">
                    (
                    <foreach collection="rightFuzzyPaperID"  separator="or" item="item">
                        `PaperID` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `specialID`,
        `paperID`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof org.buaa.platform.entity.authors$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.specialID==true">
                        `specialID`,
                    </if>
                    <if test="fetchFields.fetchFields.paperID==true">
                        `paperID`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.specialID==null">
                        `specialID`,
                    </if>
                    <if test="fetchFields.excludeFields.paperID==null">
                        `paperID`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof org.buaa.platform.entity.authors$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>